.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom ,#ffe5b4,#efdd76 );
    display: flex;
    flex-direction: column;
    align-items: center;
}
.child_container{
    width:40%;
    height:20em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 7%;
    border:#ffd700  2px solid;
    background:linear-gradient(to bottom ,#f1ece5,#f8de4a );
    box-shadow: 5px 5px 8px rgb(44, 44, 45), 10px 10px 8px rgb(204, 255, 0);
}
.btn{
    margin-top: 2%;
    width: 9em;
    border-radius: 10px;
    height: 3em;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.field{
    width: 70%;
    height: 3em;
    border-radius: 10px;
    background-color: #b1afad;
}